<!DOCTYPE html>
<html lang="en" ng-app="Whizzrd">
<head>
	<meta charset="utf-8">
 	<meta http-equiv="X-UA-Compatible" content="IE=edge">
 	<meta name="viewport" content="width=device-width, initial-scale=1">
 	<meta name="description" content="">
 	<meta name="author" content="">
 	<title>Navbar Template for Bootstrap</title>
 	<!-- Bootstrap core CSS -->
 	<link href="/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <!-- Static navbar -->
   	<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          	<div class="navbar-header">
            	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              		<span class="sr-only">Toggle navigation</span>
              		<span class="icon-bar"></span>
              		<span class="icon-bar"></span>
              		<span class="icon-bar"></span>
            	</button>
            	<a class="navbar-brand" href="/secure/index">Whizzrd.com</a>
          	</div>
          	<div id="navbar" class="navbar-collapse collapse">
            	<ul class="nav navbar-nav">
            		<li class="active"><a href="/secure/index">Home</a></li>
              		<li><a href="/secure/venue">Venues</a></li>
              		<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                           <li><a href="/secure/main-service">Service</a></li>
                           <li><a href="/secure/service">Settings</a></li>
                        </ul>
                  </li>
                  <li><a href="/secure/employee">Employee</a></li>
                  <li><a href="/secure/bookings">Bookings</a></li>
            	</ul>
            	<ul class="nav navbar-nav navbar-right">
              		<li><a href="./">Default <span class="sr-only">(current)</span></a></li>
              		<li><a href="../navbar-static-top/">Static top</a></li>
              		<li><a href="/auth/logout">logout (<%= user.local.name %>)</a></li>
            	</ul>
          	</div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
	<!-- body starts here -->
	<div class="container" ng-controller="indexController" style="padding-top: 100px">
		<div class="jumbotron">
			<div class="container">
				<h1>Hello, whizzrd!</h1>
				<p>
					<a class="btn btn-primary btn-lg">Learn more</a>
				</p>
			</div>
		</div>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Angular Core Script -->
    <script src="/libs/angular/angular.min.js"></script>
    <!-- Angular User Script -->
    <script src="/js/controllers/indexController.js"></script>
</body>
</html>
